<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/background.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/">
							<img class="logo" src="/images/temp/logo-alt.png" alt="logo">
							<img class="logo-alt" src="/images/temp/logo-alt.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Categories</a></li>
					<li><a href="#service">Services</a></li>
					<!-- <li><a href="#pricing">Prices</a></li> -->
					<li><a href="#team">Team</a></li>
					<li><a href="/blog">News</a></li>
					<li><a href="#contact">Contact</a></li>
					<!-- <ul class="dropdown"> -->
					<!-- <li><a href="blog-single.html">blog post</a></li> -->
					<!-- </ul> -->

					<li><a href="/assessment">Assessment</a></li>
					<li><a href="/zh-CN">中文</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">Can-Nova Immigration Inc</h1>
							<h3 class="white-text">Canada Immigration Professional</h3>
							<p class="white-text">Hello! Canada</p>
							<p class="white-text">Bonjour! Canada</p>
							<p class="white-text">你好！加拿大</p>
							<a href="/blog" class="white-btn">Recent News</a>
							<a href="/assessment" class="main-btn">Online Assessment</a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">About Can-Nova</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-building"></i>
						<h3>Origin</h3>
						<p class="mb-1">Can-Nova is a Canadian Immigration Consulting Firm based in Greater Toronto Area, Ontario, Canada.</p>
						<a data-toggle="modal" href="#about-modal-origin">Read more</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-pencil"></i>
						<h3>Philosophy</h3>
						<p>Can-Nova’s philosophy is extremely simple. Be professional and achieve success!</p>
						<a data-toggle="modal" href="#about-modal-philosophy">Read more</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-id-card"></i>
						<h3>License</h3>
						<p>The immigration consultants in Can-Nova are all registered and licensed Regulated Canadian Immigration Consultants (RCICs).</p>
						<a data-toggle="modal" href="#about-modal-license">Read more</a>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	<!-- /about-modal -->
	<div class="portfolio-modal modal fade" id="about-modal-origin" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Origin</h2>
                  <p>Can-Nova is a Canadian Immigration Consulting Firm based in Greater Toronto Area, Ontario, Canada. Founded in January 2018, Can-Nova aims to become one of the most respected immigration consulting firms in Canada. Can-Nova earns the reputation as a world class consulting firm by providing dedication and personalized service to each and every unique case before us.</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<!-- /about-modal -->

		<!-- /about-modal -->
		<div class="portfolio-modal modal fade" id="about-modal-philosophy" tabindex="-1" role="dialog" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	              <div class="rl"></div>
	            </div>
	          </div>
	          <div class="container">
	            <div class="row">
	              <div class="col-lg-8 col-lg-offset-2">
	                <div class="modal-body">
	                  <!-- Project Details Go Here -->
	                  <h2 class="text-uppercase">Philosophy</h2>
	                  <p>Can-Nova’s philosophy is extremely simple. Be professional and achieve success! We believe that the harder we work, the better we become. Our fundamental goal is to help our clients successfully accomplish their immigration-related objectives.</p>
	                  <button class="btn btn-primary" data-dismiss="modal" type="button">
	                    <i class="fa fa-times"></i>
	                    Close</button>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
			<!-- /about-modal -->

			<!-- /about-modal -->
			<div class="portfolio-modal modal fade" id="about-modal-license" tabindex="-1" role="dialog" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="close-modal" data-dismiss="modal">
		            <div class="lr">
		              <div class="rl"></div>
		            </div>
		          </div>
		          <div class="container">
		            <div class="row">
		              <div class="col-lg-8 col-lg-offset-2">
		                <div class="modal-body">
		                  <!-- Project Details Go Here -->
		                  <h2 class="text-uppercase">License</h2>
		                  <p>The immigration consultants in Can-Nova are all registered and licensed Regulated Canadian Immigration Consultants (RCICs). Our team have great experience in both temporary and permanent resident applications. We aim to help clients successfully get status to study  and work in Canada, and to immigration permanently to Canada.</p>
		                  <button class="btn btn-primary" data-dismiss="modal" type="button">
		                    <i class="fa fa-times"></i>
		                    Close</button>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
				<!-- /about-modal -->


	<!-- Portfolio -->
	<div id="portfolio" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Immigration Categories</h2>
				</div>
				<!-- /Section header -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/1-immi.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<!-- <span>Category</span> -->
						<h3>IMMIGRATE TO CANADA</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/1-immi.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/2-work.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>WORK IN CANADA</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/2-work.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/3-study.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>STUDY IN CANADA</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/3-study.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/4-visit.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>VISIT CANADA</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/4-visit.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/5-asylum.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>REFUGEES AND ASYLUM</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/5-asylum.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/6-resident.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>RESIDENT STATUS</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/6-resident.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">What We Offer</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-wpforms"></i>
						<h3>Immigrate Application</h3>
						<ul>
							<li>Federal Immigration Programs: Express Entry, Immigrant Investors, Start-up Visa, Self-Employed, Family Sponsorship, Caregivers</li>
							<li>Provincial Nomination Programs: Provincial Immigration Programs from 13 provinces/territories, Quebec-selected skilled workers, Atlantic Immigration Pilot</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-briefcase"></i>
						<h3>Work Permit Application</h3>
						<ul>
							<li>Employer LMIA Application</li>
							<li>Work Permit Application</li>
							<li>Work Permit Extension</li>
							<li>International Experience Canada Program Application</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-graduation-cap"></i>
						<h3>Study Permit Application</h3>
						<ul>
							<li>School Application</li>
							<li>Study Permit Application</li>
							<li>Study Permit Extension</li>
							<li>Study to Immigrate</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-bus"></i>
						<h3>Visitor Visa Application</h3>
						<ul>
							<li>Visitor Visa: Visit Children, Grandchildren，Relatives, Friends</li>
							<li>Super Visa</li>
							<li>Visa for Traveler</li>
							<li>Visa for Business Trip</li>
							<li>Visa for Short-Term Study (Summer/Winter Camp)</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-globe"></i>
						<h3>Refugee Application</h3>
						<ul>
							<li>Refugee Application Inside Canada</li>
							<li>Refugee Application Outside Canada</li>
							<li>Appeal a Refugee Claim</li>
							<li>Sponsor a Refugee</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-address-book"></i>
						<h3>Residence Card and Passport Application</h3>
						<ul>
							<li>Permanent Resident Renew</li>
							<li>Citizenship Application</li>
							<li>Canadian Passport Application</li>
							<li>Chinese Passport Application</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->


	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Why Choose Us</h2>
					</div>
					<p>Can-Nova has competitive advantages that are useful and important for clients:</p>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Our online assessment system can help clients to provide information quickly and easily which gets sent directly to one of our consultants.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>We provide each client personalized, quick, confidential and efficient service from start to finish. </p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>We treat all the clients equally and deliver the most humane service to each client, regardless of who or where clients are in the world.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>We cooperate with translation, notarization and law firms to provide a one station service which is worry free for clients.</p>
					</div>
					<p>Get your free <a href="/assessment" class="feature-link">online assessment</a> and start your Canadian Immigration process now.</p>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6 feature-image">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="/images/about.jpeg" alt="">
						<!-- <img class="img-responsive" src="/images/temp/about2.jpg" alt="">
						<img class="img-responsive" src="/images/temp/about1.jpg" alt="">
						<img class="img-responsive" src="/images/temp/about2.jpg" alt=""> -->
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->


	<!-- Numbers -->
	<div id="numbers" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/temp/background2.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">Our Top 5 Features</h2>
				</div>
				<!-- /Section header -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-users"></i>
						<span class="white-text">24 Hour Response Time</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-usd"></i>
						<span class="white-text">Flat Rate/No Hourly Billing</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-black-tie"></i>
						<span class="white-text">Interview Preparation</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-exclamation-circle"></i>
						<span class="white-text">Immediate Status Notification</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-12">
					<div class="number">
						<i class="fa fa-desktop"></i>
						<span class="white-text">Compliant Application Submission</span>
					</div>
				</div>
				<!-- /number -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Numbers -->




	<!-- Testimonial -->
	<div id="testimonial" class="section md-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/temp/background3.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">Testimonials From Our Happy Clients</h2>
				</div>
				<!-- /Section header -->

				<!-- Testimonial slider -->
				<div class="col-md-10 col-md-offset-1">
					<div id="testimonial-slider" class="owl-carousel owl-theme">
						{{# each data.testimonials.results}}
						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								{{#if image}}<img src="{{{cloudinaryUrl image}}}" alt="{{{title}}}">{{/if}}
								<h3 class="white-text">{{{title}}}</h3>
								<span>{{{category}}}</span>
							</div>
							<p class="white-text">{{{content.extended}}}</p>
						</div>
						<!-- /testimonial -->
						{{/each}}

					</div>
				</div>
				<!-- /Testimonial slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Testimonial -->

	<!-- Team -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Team</h2>
				</div>
				<!-- /Section header -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="/images/temp/team1.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Yu Huang (Robin)</h3>
							<span>RCIC (R521675), Director</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="/images/temp/team2.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Lyea Lv</h3>
							<span>Director of Chinese Company</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="/images/temp/team3.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Hank Wang</h3>
							<span>Marketing</span>
						</div>
					</div>
				</div>
				<!-- /team -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->

	<!-- Blog -->
	<div id="blog" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Recents news</h2>
				</div>
				<!-- /Section header -->

				<!-- blog -->
				{{# each data.posts.results}}
				<div class="col-md-4 col-sm-10 col-sm-offset-1 col-md-offset-0">
					<div class="blog">
						<div class="blog-img">
							{{#if image}}<img class="img-blog" src="{{{cloudinaryUrl image}}}" alt="{{{title}}}">{{/if}}
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								{{#if author.name.first}}<li><i class="fa fa-user"></i>{{author.name.first}} {{author.name.last}}</li>{{/if}}
								<li><i class="fa fa-clock-o"></i>{{date publishedDate}}</li>
								{{#if categories}}<li><i class="fa fa-tags"></i>{{categories.0.name}}</li>{{/if}}
							</ul>
							<h3>{{{title}}}</h3>
							<p>{{{content.brief}}}</p>
							{{#if content.extended}}<a href="{{postUrl slug}}">Read more</a>{{/if}}
						</div>
					</div>
				</div>
				{{/each}}
				<!-- /blog -->


			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->

	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Contact Us</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p>647-878-5813</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>success@can-nova.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>#142, 700 Third Line, Oakville, Ontario, L6L 4B1</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					{{#if enquirySubmitted}}
					<h3 class="text-center">Thanks for getting in touch.</h3>
					{{else}}
					<form class="contact-form" method="post">
						<input type="hidden" name="action" value="contact">
						<div class="form-group first-line {{#if validationErrors.name}}has-error{{/if}}">
							<input type="text" name="name.full"  class="input" placeholder="Name" value="{{formData.[name.full]}}">
						</div>
						<div class="form-group first-line first-line-right {{#if validationErrors.email}}has-error{{/if}}">
							<input type="email" name="email" class="input" placeholder="Email" value="{{formData.email}}">
						</div>
						<div class="form-group">
							<input type="text" name="subject" placeholder="Subject" class="input" value="{{formData.subject}}">
						</div>
						<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
							<textarea name="message" placeholder="Message" class="input">{{formData.message}}</textarea>
						</div>
						<div class="form-actions">
							<button type="submit" class="main-btn">Send</button>
						</div>
					</form>
					{{/if}}
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
	var largest = 0; //start with 0

	$(".blog").each(function(){ //loop through each section
	   var findHeight = $(this).height(); //find the height
	   if(findHeight > largest){ //see if this height is greater than "largest" height
	      largest = findHeight; //if it is greater, set largest height to this one
	   }
	});

	$(".blog").css({"height":largest+"px"});
</script>
