<style>
p, h1, h2, h3, h4, h5, h6, a {
	font-family: Yahei;
}
</style>

<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/background.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="/zh-CN">
							<img class="logo" src="/images/temp/logo-alt.png" alt="logo">
							<img class="logo-alt" src="/images/temp/logo-alt.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">首页</a></li>
					<li><a href="#about">公司简介</a></li>
					<li><a href="#portfolio">移民类别</a></li>
					<li><a href="#service">服务项目</a></li>
					<!-- <li><a href="#pricing">Prices</a></li> -->
					<li><a href="#team">加星团队</a></li>
					<li><a href="/zh-CN/blog">最新资讯</a> </li>
					<!-- <ul class="dropdown"> -->
					<!-- <li><a href="blog-single.html">blog post</a></li> -->
					<!-- </ul> -->
					<li><a href="#contact">联系我们</a></li>

					<li><a href="/assessment">在线评估</a></li>
					<li><a href="/">English</a></li>
				</ul>
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">加星移民公司</h1>
							<h3 class="white-text">加拿大移民专家</h3>
							<p class="white-text">Hello! Canada</p>
							<p class="white-text">Bonjour! Canada</p>
							<p class="white-text">你好！加拿大</p>
							<a href="/zh-CN/blog" class="white-btn">最新资讯</a>
							<a href="/assessment" class="main-btn">在线评估</a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">公司简介</h2>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-building"></i>
						<h3>起源</h3>
						<p class="mb-1">加星移民公司成立于2018年1月，总部位于加拿大安大略省大多伦多地区。</p>
						<a data-toggle="modal" href="#about-modal-origin">查看详情</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-pencil"></i>
						<h3>理念</h3>
						<p>加星的理念相当简单，那就是通过专业实现成功！</p>
						<a data-toggle="modal" href="#about-modal-philosophy">查看详情</a>
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-id-card"></i>
						<h3>执照</h3>
						<p>加星的移民顾问都是在加拿大移民顾问协会正规注册并受其监管的持牌移民顾问（RCICs）。</p>
						<a data-toggle="modal" href="#about-modal-license">查看详情</a>
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	<!-- /about-modal -->
	<div class="portfolio-modal modal fade" id="about-modal-origin" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">起源</h2>
                  <p>加星移民公司成立于2018年1月，总部位于加拿大安大略省大多伦多地区。加星立志于成为加拿大最有信誉的移民公司。加星为来自世界各地的每一个客户提供全心全意的定制化移民服务。加星帮助您成功移民加拿大!</p>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    关闭</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		<!-- /about-modal -->

		<!-- /about-modal -->
		<div class="portfolio-modal modal fade" id="about-modal-philosophy" tabindex="-1" role="dialog" aria-hidden="true">
	      <div class="modal-dialog">
	        <div class="modal-content">
	          <div class="close-modal" data-dismiss="modal">
	            <div class="lr">
	              <div class="rl"></div>
	            </div>
	          </div>
	          <div class="container">
	            <div class="row">
	              <div class="col-lg-8 col-lg-offset-2">
	                <div class="modal-body">
	                  <!-- Project Details Go Here -->
	                  <h2 class="text-uppercase">理念</h2>
	                  <p>加星的理念相当简单，那就是通过专业实现成功！我们坚信，越努力越美好。我们的终极目标就是帮助客户成功实现各种移民有关的目标。</p>
	                  <button class="btn btn-primary" data-dismiss="modal" type="button">
	                    <i class="fa fa-times"></i>
	                    关闭</button>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
			<!-- /about-modal -->

			<!-- /about-modal -->
			<div class="portfolio-modal modal fade" id="about-modal-license" tabindex="-1" role="dialog" aria-hidden="true">
		      <div class="modal-dialog">
		        <div class="modal-content">
		          <div class="close-modal" data-dismiss="modal">
		            <div class="lr">
		              <div class="rl"></div>
		            </div>
		          </div>
		          <div class="container">
		            <div class="row">
		              <div class="col-lg-8 col-lg-offset-2">
		                <div class="modal-body">
		                  <!-- Project Details Go Here -->
		                  <h2 class="text-uppercase">执照</h2>
		                  <p>加星的移民顾问都是在加拿大移民顾问协会正规注册并受其监管的持牌移民顾问（RCICs）。我们的移民顾问在临时和永久居民身份申请方面都具有丰富的经验。我们致力于帮助客户成功的获取在加拿大学习，工作和永久移民的身份。</p>
		                  <button class="btn btn-primary" data-dismiss="modal" type="button">
		                    <i class="fa fa-times"></i>
		                    关闭</button>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
				<!-- /about-modal -->


	<!-- Portfolio -->
	<div id="portfolio" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">移民类别</h2>
				</div>
				<!-- /Section header -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/1-immi.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<!-- <span>Category</span> -->
						<h3>移民加国</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/1-immi.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/2-work.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>在加国工作</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/2-work.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/3-study.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>在加国学习</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/3-study.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/4-visit.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>访问加拿大</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/4-visit.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/5-asylum.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>难民庇护</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/5-asylum.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="/images/6-resident.jpeg" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<h3>枫叶卡与护照</h3>
						<div class="work-link">
							<a href="#"><i class="fa fa-external-link"></i></a>
							<!-- <a class="lightbox" href="/images/6-resident.jpeg"><i class="fa fa-search"></i></a> -->
						</div>
					</div>
				</div>
				<!-- /Work -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">服务项目</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-wpforms"></i>
						<h3>移民申请服务</h3>
						<ul>
							<li>联邦移民项目：快速通道，投资移民，创业签证，自雇移民，家庭团聚移民，家庭护工移民</li>
							<li>省提名移民项目：13个省或地区的省提名移民项目，魁北克技工项目，海洋三省试点项目</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-briefcase"></i>
						<h3>工签申请服务</h3>
						<ul>
							<li>雇主LMIA申请</li>
							<li>工签申请</li>
							<li>工签续签</li>
							<li>打工度假（IEC，体验加拿大）项目申请</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-graduation-cap"></i>
						<h3>学签申请服务</h3>
						<ul>
							<li>留学申请</li>
							<li>学签申请</li>
							<li>学签续签</li>
							<li>先留学再移民</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-bus"></i>
						<h3>访问签证申请服务</h3>
						<ul>
							<li>普通探亲签证： 访问子女，孙子女，亲属，友人</li>
							<li>父母，祖父母超级签证</li>
							<li>旅行签证</li>
							<li>商务签证</li>
							<li>夏令营，冬令营等短期学习签证</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-globe"></i>
						<h3>难民申请服务</h3>
						<ul>
							<li>在加拿大国内申请难民身份</li>
							<li>在加拿大国外申请难民身份</li>
							<li>难民申请上诉</li>
							<li>难民赞助</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service service-CN">
						<i class="fa fa-address-book"></i>
						<h3>枫叶卡和护照申请</h3>
						<ul>
							<li>枫叶卡续卡</li>
							<li>入籍申请</li>
							<li>加拿大护照申请</li>
							<li>中国护照更换申请</li>
						</ul>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->


	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">加星的优势</h2>
					</div>
					<p>加星具有相当有益有力的优势：</p>
					<div class="feature-CN">
						<i class="fa fa-check"></i>
						<p>加星的在线评估系统，可以帮助客户方便快捷的提供信息。这些信息会直接发送给我们的移民顾问进行评估。</p>
					</div>
					<div class="feature-CN">
						<i class="fa fa-check"></i>
						<p>加星自始至终给每个客户提供定制化、迅速、高度保密且有效的服务。</p>
					</div>
					<div class="feature-CN">
						<i class="fa fa-check"></i>
						<p>加星平等地对待来自世界各地的每一个客户，给每个客户提供最人性化的服务。</p>
					</div>
					<div class="feature-CN">
						<i class="fa fa-check"></i>
						<p>加星与翻译公司，公证机构和律师事务所合作，为客户提供无忧的一站式服务。 </p>
					</div>
					<p>免费<a href="/assessment" class="feature-link">在线评估</a>，开启您的加拿大移民、留学、工作、探亲、访问、旅行新篇章！</p>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6 feature-CN-image">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="/images/about.jpeg" alt="">
						<!-- <img class="img-responsive" src="/images/temp/about2.jpg" alt="">
						<img class="img-responsive" src="/images/temp/about1.jpg" alt="">
						<img class="img-responsive" src="/images/temp/about2.jpg" alt=""> -->
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->


	<!-- Numbers -->
	<div id="numbers" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/temp/background2.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">



			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">加星的五大服务特色</h2>
				</div>
				<!-- /Section header -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-users"></i>
						<span class="white-text">24小时内咨询回复</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-usd"></i>
						<span class="white-text">固定收费，无计时收费</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-black-tie"></i>
						<span class="white-text">面试准备</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-6">
					<div class="number">
						<i class="fa fa-exclamation-circle"></i>
						<span class="white-text">即时状态通知提醒</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-5ths col-xs-12">
					<div class="number">
						<i class="fa fa-desktop"></i>
						<span class="white-text">合规的申请提交</span>
					</div>
				</div>
				<!-- /number -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Numbers -->




	<!-- Testimonial -->
	<div id="testimonial" class="section md-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('/images/temp/background3.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title" style="color: white;">客户评语</h2>
				</div>
				<!-- /Section header -->

				<!-- Testimonial slider -->
				<div class="col-md-10 col-md-offset-1">
					<div id="testimonial-slider" class="owl-carousel owl-theme">
						{{# each data.testimonials.results}}
						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								{{#if image}}<img src="{{{cloudinaryUrl image}}}" alt="{{{title}}}">{{/if}}
								<h3 class="white-text">{{{title}}}</h3>
								<span>{{{category}}}</span>
							</div>
							<p class="white-text">{{{content.extended}}}</p>
						</div>
						<!-- /testimonial -->
						{{/each}}

					</div>
				</div>
				<!-- /Testimonial slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Testimonial -->

	<!-- Team -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">加星团队</h2>
				</div>
				<!-- /Section header -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="/images/temp/team1.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Robin黄</h3>
							<span>RCIC (R521675), 加拿大总部负责人</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="/images/temp/team2.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Lyea Lv</h3>
							<span>中国分公司负责人</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="/images/temp/team3.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Hank Wang</h3>
							<span>中国分公司市场部负责人</span>
						</div>
					</div>
				</div>
				<!-- /team -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->

	<!-- Blog -->
	<div id="blog" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">最新资讯</h2>
				</div>
				<!-- /Section header -->

				<!-- blog -->
				{{# each data.posts.results}}
				<div class="col-md-4 col-sm-10 col-sm-offset-1 col-md-offset-0">
					<div class="blog">
						<div class="blog-img">
							{{#if image}}<img class="img-blog" src="{{{cloudinaryUrl image}}}" alt="{{{title}}}">{{/if}}
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								{{#if author.name.first}}<li><i class="fa fa-user"></i>{{author.name.first}} {{author.name.last}}</li>{{/if}}
								<li><i class="fa fa-clock-o"></i>{{date publishedDate}}</li>
								{{#if categories}}<li><i class="fa fa-tags"></i>{{categories.0.name}}</li>{{/if}}
							</ul>
							<h3>{{{title}}}</h3>
							<p>{{{content.brief}}}</p>
							{{#if content.extended}}<a href="{{postUrlChinese slug}}">查看详情</a>{{/if}}
						</div>
					</div>
				</div>
				{{/each}}
				<!-- /blog -->


			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->

	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">联系我们</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>电话</h3>
						<p>647-878-5813</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>邮箱</h3>
						<p>success@can-nova.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>地址</h3>
						<p>#142, 700 Third Line, Oakville, Ontario, L6L 4B1</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					{{#if enquirySubmitted}}
					<h3 class="text-center">谢谢您的支持，我们会尽快回复！</h3>
					{{else}}
					<form class="contact-form" method="post">
						<input type="hidden" name="action" value="contact">
						<div class="form-group first-line {{#if validationErrors.name}}has-error{{/if}}">
							<input type="text" name="name.full"  class="input" placeholder="姓名" value="{{formData.[name.full]}}">
						</div>
						<div class="form-group first-line first-line-right {{#if validationErrors.email}}has-error{{/if}}">
							<input type="email" name="email" class="input" placeholder="电子邮件" value="{{formData.email}}">
						</div>
						<div class="form-group">
							<input type="text" name="subject" placeholder="主题" class="input" value="{{formData.subject}}">
						</div>
						<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
							<textarea name="message" placeholder="留言" class="input">{{formData.message}}</textarea>
						</div>
						<div class="form-actions">
							<button type="submit" class="main-btn">提交</button>
						</div>
					</form>
					{{/if}}
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
	var largest = 0; //start with 0

	$(".blog").each(function(){ //loop through each section
	   var findHeight = $(this).height(); //find the height
	   if(findHeight > largest){ //see if this height is greater than "largest" height
	      largest = findHeight; //if it is greater, set largest height to this one
	   }
	});

	$(".blog").css({"height":largest+"px"});
</script>
